@media (min-width: 993px) and (max-width: 1500px) {
	nav {
		.skew-block {
			width: 450px;
		}
		.nav-items {
			margin-right: 0;
			.nav-item {
				padding: 1em;
			}
		}
	}
	.home-section {
		.hero-img {
			background-position: 0 0;
		}
	}
}
